<h1>This is my contact info</h1>
<p>This is my name: <%=contact.name%></p>
<p>Here's my email: <%=contact.email%></p>
<p>Here's my phone number: <%=contact.phone%></p>
<p>Here's my awesome site: <%=contact.site%></p>